.center {
    display: flexbox;
}

p {
    margin-left: 10vw;
    margin-right: 10vw;
}

blockquote {
    margin: 20px 10vw 40px 10vw;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    justify-self: center;
}

figcaption {
    color: goldenrod;
    max-width: 300px;
}





 .home-img {
    padding: 30px;
} 

h2, h1 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

footer {
background-color: goldenrod;
padding: 10px;
margin: 10px;
border: maroon solid 20px;
border-radius: 30px;
width: 33vw;
min-width: 200px;
}

input {
    margin:10px 10px;
}

textarea {
    margin: 10px;
    width: 175px;
    height: 15px;
}