.center {
    display: flex;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
}


.home-img {
    float: left;
    padding-right: 30px;
}

h2 {
    font-size: 40px;
    clear: both;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
}
main {
    margin-bottom: 50px;
}